{% extends 'base.html' %}
{% load static %}


{% block title %}
<title>Cards List</title>
{% endblock title %}


{% block content %}




<!-- ======= Players cards Section ======= -->
<section id="cards" class="recent-posts sections-bg">

    <p><a href="{% url 'create_card' %}">Create your own card</a></p>

    <div class="row gy-4">
        {% for card in cards_list %}
        <div class="fut-player-card">

            <div class="player-card-top">
                <div class="player-master-info">
                    <div class="player-rating">
                        <span>{{card.DRI}}</span>
                    </div>
                    <div class="player-position">
                        <span>{{card.position}}</span>
                    </div>

                </div>
                <div class="player-picture">
                    {% if card.img %}
                    <img src="{{ card.img.url }}" alt="{{card.name}}" draggable="false" />
                    {% else %}
                    <h3>no img</h3>
                    {% endif %}
                    <div class="player-extra">
                        <span>4*SM</span>
                        <span>4*WF</span>
                    </div>
                </div>
            </div>
            <div class="player-card-bottom">
                <div class="player-info">
                    <!-- Player Name-->
                    <div class="player-name">
                        <span>{{card.name}}</span>
                    </div>
                    <!-- Player Features-->
                    <div class="player-features">
                        <div class="player-features-col">
                            <span>
                                <div class="player-feature-value">{{card.PAC}}</div>
                                <div class="player-feature-title">PAC</div>
                            </span>
                            <span>
                                <div class="player-feature-value">{{card.SHO}}</div>
                                <div class="player-feature-title">SHO</div>
                            </span>
                            <span>
                                <div class="player-feature-value">{{card.PAS}}</div>
                                <div class="player-feature-title">PAS</div>
                            </span>
                        </div>
                        <div class="player-features-col">
                            <span>
                                <div class="player-feature-value">{{card.DRI}}</div>
                                <div class="player-feature-title">DRI</div>
                            </span>
                            <span>
                                <div class="player-feature-value">{{card.DEF}}</div>
                                <div class="player-feature-title">DEF</div>
                            </span>
                            <span>
                                <div class="player-feature-value">{{card.PHY}}</div>
                                <div class="player-feature-title">PHY</div>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        {% endfor %}
    </div>

    <!-- End recent posts list -->




</section><!-- End Players cards Section -->





{% endblock content %}